<!-- section-renderer.component.html -->
<ng-container *ngFor="let item of section">
  <ng-container [ngSwitch]="item.type">
    <!-- Boolean Section -->
    <div *ngIf="isBoolSection(item)" class="form-group">
      <label>{{ item.name }}</label>
      <input type="checkbox"
             [formControlName]="item.id"
             [checked]="item.default">
    </div>

    <!-- Single Select Section -->
    <div *ngIf="isSSelectSection(item)" class="form-group">
      <label>{{ item.name }}</label>
      <select [formControlName]="item.id" class="form-control">
        <option *ngFor="let value of item.values" [value]="value.id">
          {{ value.value }}
        </option>
      </select>
    </div>

    <!-- Nested Config Section -->
    <div *ngIf="isConfigSection(item)" class="nested-section">
      <h4>{{ item.name }}</h4>
<!--      <div [formGroup]="asFormGroup(parentForm.get(item.id.toString()))">-->
      <div formGroupName="{{ item.id }}">
        <app-section-renderer
          [section]="item.section"
          [parentForm]="asFormGroup(parentForm.get(item.id.toString()))">
        </app-section-renderer>
      </div>
    </div>
  </ng-container>
</ng-container>
